
@{
    ViewBag.Title = "Confirmation";
}

<div>
    <br/>
    <br/>
    <div>
        <h2>Thank You</h2>
        <p>Thank you for your pucrchase of Iphone. Please logout the application by clicking the below link!</p>
        </div>
</div>
@Html.ActionLink("Logout", "Logout", "UserAccount")

